.navigationBar {
    background-color: #DB9C7B;
    padding: 0%;
    padding-left: 150px;

}

#logo {
    position: relative;
    height: 200px;
    display: inline;
    float:left
}

#nav_text {
    display: flex;
    flex-direction: row;
}

.navigationBar button{

    position: relative;
        left: 0px;
    font-size: 48px;
    font-weight: 500;
    margin: 0px 70px;
    height: 200px;
    background-color:#DB9C7B;
    color:black;
    display: inline;
    border: 0px;
}

.navigationBar button:hover{
    color:#577B57
}

.navigationBar button.selected{
    color:#577B57
}

.navigationBarPhone {
    background-color:#DB9C7B;
    height: 15vh;
    width: 100vw;
} 

#logoPhone {
    position: relative;
    height: 15vh;
    display: inline;
    float:left
}

#nav_more {
    height: 10vh;
}

.nav_button button {
    background-color: #DB9C7B;
    width: 100vw;
} 