.navigationBar {
    background-color: #DB9C7B;
    padding: 0%;
    

}

#logo {
    position: relative;
    height: 200px;
    display: inline;
    float:left
}

.navigationBar button{

    position: relative;
        left: 0px;
    font-size: 48px;
    font-weight: 500;
    margin: 0px 70px;
    height: 200px;
    background-color:#DB9C7B;
    color:black;
    display: inline;
    border: 0px;
}

.navigationBar button:hover{
    color:#577B57
}

.navigationBar button.selected{
    color:#577B57
}